@import "reset";

$myFont: Helvetica, sans-serif;
$myColor: #bada55;
$myFontSize: 20px;
$myWidth: 600px;

body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
}

.container {
  width: $myWidth;
}
